railml/railML-3.3-SR1/source/schema/gml/gml4railml3.xsd

<?xml  version='1.0' encoding='utf-8' ?>
<xs:schema targetNamespace="https://www.railml.org/schemas/3.3/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml4rail3="https://www.railml.org/schemas/3.3/gml" elementFormDefault="qualified" version="3.3">
	<xs:annotation>
		<xs:documentation>Content of this file: XML Schema for railML(R) 3 Definition of GML based elements for infrastructure sub schema.&#xD;
&#xD;
GML is an OGC Standard.&#xD;
Copyright (c) 2007,2010 Open Geospatial Consortium, Inc. All Rights Reserved.&#xD;
Source: http://schemas.opengis.net/gml/3.2.1/geometryBasic0d1d.xsd&#xD;
To obtain additional rights of use, visit http://www.opengeospatial.org/legal/</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="doubleList">
		<xs:annotation>
			<xs:documentation>A type for a list of values of the respective simple type.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="NCNameList">
		<xs:annotation>
			<xs:documentation>A type for a list of values of the respective simple type.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:NCName"/>
	</xs:simpleType>
	<xs:simpleType name="NilReasonType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="AbstractCurveType" abstract="true">
		<xs:annotation>
			<xs:documentation>gml:AbstractCurveType is an abstraction of a curve to support the different levels of complexity. The curve may always be viewed as a geometric primitive, i.e. is continuous.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml4rail3:AbstractGeometricPrimitiveType">
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractGeometricPrimitiveType" abstract="true">
		<xs:annotation>
			<xs:documentation>gml:AbstractGeometricPrimitiveType is the abstract root type of the geometric primitives. A geometric primitive is a geometric object that is not decomposed further into other primitives in the system. All primitives are oriented in the direction implied by the sequence of their coordinate tuples.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml4rail3:AbstractGeometryType">
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractGeometryType" abstract="true">
		<xs:annotation>
			<xs:documentation>All geometry elements are derived directly or indirectly from this abstract supertype. A geometry element may have an identifying attribute (gml:id), one or more names (elements identifier and name) and a description (elements description and descriptionReference) . It may be associated with a spatial reference system (attribute group gml:SRSReferenceGroup).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml4rail3:AbstractGMLType">
				
				<xs:attributeGroup ref="gml4rail3:SRSReferenceGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractGMLType" abstract="true">
		<xs:sequence>
			<xs:group ref="gml4rail3:StandardObjectProperties" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" use="optional" type="xs:ID">
			<xs:annotation>
				<xs:documentation>The attribute gml:id supports provision of a handle for the XML element representing a GML Object. Its use is mandatory for all GML objects. It is of XML type ID, so is constrained to be unique in the XML document within which it occurs [gmlBase.xsd].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CodeType">
		<xs:annotation>
			<xs:documentation>gml:CodeType is a generalized type to be used for a term, keyword or name.&#xD;
It adds a XML attribute codeSpace to a term, where the value of the codeSpace attribute (if present) shall indicate a dictionary, thesaurus, classification scheme, authority, or pattern for the term.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="codeSpace" use="optional" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CodeWithAuthorityType">
		<xs:annotation>
			<xs:documentation>gml:CodeWithAuthorityType requires that the codeSpace attribute is provided in an instance.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="codeSpace" use="required" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DirectPositionListType">
		<xs:annotation>
			<xs:documentation>posList instances (and other instances with the content model specified by DirectPositionListType) hold the coordinates for a sequence of direct positions within the same coordinate reference system (CRS).&#xD;
if no srsName attribute is given, the CRS shall be specified as part of the larger context this geometry element is part of, typically a geometric object like a point, curve, etc. &#xD;
The optional attribute count specifies the number of direct positions in the list. If the attribute count is present then the attribute srsDimension shall be present, too.&#xD;
The number of entries in the list is equal to the product of the dimensionality of the coordinate reference system (i.e. it is a derived value of the coordinate reference system definition) and the number of direct positions.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="gml4rail3:doubleList">
				<xs:attribute name="count" use="optional" type="xs:unsignedLong">
					<xs:annotation>
						<xs:documentation>specifies the number of direct positions in the list. If the attribute count is present then the attribute srsDimension shall be present, too.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="gml4rail3:SRSReferenceGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DirectPositionType">
		<xs:annotation>
			<xs:documentation>Direct position instances hold the coordinates for a position within some coordinate reference system (CRS). Since direct positions, as data types, will often be included in larger objects (such as geometry elements) that have references to CRS, the srsName attribute will in general be missing, if this particular direct position is included in a larger element with such a reference to a CRS. In this case, the CRS is implicitly assumed to take on the value of the containing object's CRS.&#xD;
if no srsName attribute is given, the CRS shall be specified as part of the larger context this geometry element is part of, typically a geometric object like a point, curve, etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="gml4rail3:doubleList">
				<xs:attributeGroup ref="gml4rail3:SRSReferenceGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LineStringType">
		<xs:annotation>
			<xs:documentation>A LineString is a special curve that consists of a single segment with linear interpolation. It is defined by two or more coordinate tuples, with linear interpolation between them. The number of direct positions in the list shall be at least two.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml4rail3:AbstractCurveType">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element name="posList" type="gml4rail3:DirectPositionListType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="pos" type="gml4rail3:DirectPositionType" minOccurs="2" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PointType">
		<xs:annotation>
			<xs:documentation>A Point is defined by a single coordinate tuple. The direct position of a point is specified by the pos element which is of type DirectPositionType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml4rail3:AbstractGeometricPrimitiveType">
				<xs:sequence>
					<xs:element name="pos" type="gml4rail3:DirectPositionType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferenceType">
		<xs:annotation>
			<xs:documentation>gml:ReferenceType is intended to be used in application schemas directly, if a property element shall use a "by-reference only" encoding.</xs:documentation>
		</xs:annotation>
		
		<xs:attributeGroup ref="gml4rail3:OwnershipAttributeGroup"/>
		<xs:attributeGroup ref="gml4rail3:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="StringOrRefType">
		<xs:annotation>
			<xs:documentation>deprecated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="gml4rail3:AssociationAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:group name="StandardObjectProperties">
		<xs:sequence>
			<xs:element name="name" type="gml4rail3:CodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="identifier" type="gml4rail3:CodeWithAuthorityType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="descriptionReference" type="gml4rail3:ReferenceType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="description" type="gml4rail3:StringOrRefType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="AssociationAttributeGroup">
		<xs:annotation>
			<xs:documentation>XLink components are the standard method to support hypertext referencing in XML. An XML Schema attribute group, gml:AssociationAttributeGroup, is provided to support the use of Xlinks as the method for indicating the value of a property by reference in a uniform manner in GML.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="nilReason" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>When a mandatory attribute code or tag is present but the attribute value is missing, it means that the producer wishes to indicate that this attribute value is unknown. Missing mandatory attributes must be “nilled” with a GML nilReason attribute giving the reason for omission [Specification, Product. IALA S-201.].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OwnershipAttributeGroup">
		<xs:annotation>
			<xs:documentation>Encoding a GML property inline vs. by-reference shall not imply anything about the "ownership" of the contained or referenced GML Object, i.e. the encoding style shall not imply any "deep-copy" or "deep-delete" semantics. To express ownership over the contained or referenced GML Object, the gml:OwnershipAttributeGroup attribute group may be added to object-valued property elements. If the attribute group is not part of the content model of such a property element, then the value may not be "owned".&#xD;
When the value of the owns attribute is "true", the existence of inline or referenced object(s) depends upon the existence of the parent object.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="owns" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>used to indicate ownership semantics [Open Geospatial Consortium]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="SRSReferenceGroup">
		<xs:attribute name="axisLabels" use="optional" type="gml4rail3:NCNameList">
			<xs:annotation>
				<xs:documentation>a list of labels of the axes of the grid [gml/3.2.1/grids.xsd]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="srsDimension" use="optional" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>specifies the number of dimensions represented by the CRS and the positions in the GML Point [https://opengeospatial.github.io/e-learning/gml/text/main.html]</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="srsName" use="optional" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>references the Coordinate Reference System (CRS) that applies to the coordinates of the GML Point [https://opengeospatial.github.io/e-learning/gml/text/main.html].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uomLabels" use="optional" type="gml4rail3:NCNameList">
			<xs:annotation>
				<xs:documentation>Ordered list of unit of measure (uom) labels for all the axes of this CRS. The value of the string in the gml:catalogSymbol should be used for this uom labels, after spaces and forbiddden characters are removed. When the axisLabels attribute is included, this attribute shall also be included. When the axisLabels attribute is omitted, this attribute shall also be omitted [gml/3.1.1/base/geometryBasic0d1d.xsd].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>