railml/railML-3.3-SR1/source/codelists/Registers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:railcode="https://www.railml.org/schemas/lists" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.railml.org/schemas/lists" elementFormDefault="qualified" version="1.0">

  <xs:annotation>
    <xs:documentation>Copyright (c) railML.org e.V. Dresden/Germany; All Rights Reserved.</xs:documentation>
    <xs:documentation>This work is licensed under the restricted CreativeCommons Attribution-NonCommercial-NoDerivatives 4.0 International License with additional license conditions of railML.org.</xs:documentation>
    <xs:documentation>For further information see: https://www.railml.org/licence</xs:documentation>
    <xs:documentation>Content of this file: XML Schema for railML(R) (Definition of data types for the register code list)</xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="ListBaseTypes.xsd"/>

  <xs:element name="registers">
    <xs:annotation>
      <xs:documentation>Container/Root element for railway registers"</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="register" type="railcode:tRegister" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tRegister">
    <xs:sequence>
      <xs:element name="name" type="railcode:tI18NString" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Internationalized name of the railway register</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="organization" type="railcode:tI18NString" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Organization name that is responsible for the register</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="remarks" type="railcode:tI18NString" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Internationalized remarks for the railway register</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="code" type="railcode:tCode">
      <xs:annotation>
        <xs:documentation>code, that should be referred to from within a railML file</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
