railml/railML-3.3-SR1/source/codelists/TrainClearanceGauges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:railcode="https://www.railml.org/schemas/lists" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.railml.org/schemas/lists" elementFormDefault="qualified" version="1.0">

  <xs:annotation>
    <xs:documentation>Copyright (c) railML.org e.V. Dresden/Germany; All Rights Reserved.</xs:documentation>
    <xs:documentation>This work is licensed under the restricted CreativeCommons Attribution-NonCommercial-NoDerivatives 4.0 International License with additional license conditions of railML.org.</xs:documentation>
    <xs:documentation>For further information see: https://www.railml.org/licence</xs:documentation>
    <xs:documentation>Content of this file: XML Schema for railML(R) (Definition of data types for the train clearance gauge code list)</xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="ListBaseTypes.xsd"/>

  <xs:element name="trainClearanceGaugeList">
    <xs:annotation>
      <xs:documentation>Container/Root element for "train clearance gauge list"</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trainClearanceGauge" type="railcode:tClearanceGaugeType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>data related to a particular train clearance gauge</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tClearanceGaugeType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="railcode:tI18NString" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Internationalized name of the clearance gauge</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validFor" type="railcode:tValidForNetworkType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>gives indication, whether the clearance gauge is valid for only a national, several national or all TSI-compliant networks</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="code" type="railcode:tGenCode">
      <xs:annotation>
        <xs:documentation>code, that should be referred to from within a railML file, typically a short name for the train clearance gauges in Latin letters</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="tValidForNetworkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="interoperable" />
      <xs:enumeration value="multinational" />
      <xs:enumeration value="national" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tGenCode">
    <xs:annotation>
      <xs:documentation>an arbitrary string with at minimum one character including punctuation, whitespace are not allowed</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\w|\S){1,}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
