railml/railML-3.3-SR1/source/schema/common3.xsd

<?xml  version='1.0' encoding='utf-8' ?>
<xs:schema targetNamespace="https://www.railml.org/schemas/3.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rail3="https://www.railml.org/schemas/3.3" xmlns:dcterms="http://purl.org/dc/terms/" elementFormDefault="qualified" version="3.3">
	<xs:annotation>
		<xs:documentation>Copyright (c) railML.org e.V. Dresden/Germany; All Rights Reserved.&#xD;
&#xD;
This work is licensed under the restricted CreativeCommons Attribution-NonCommercial-NoDerivatives 4.0 International License with additional license conditions of railML.org.&#xD;
&#xD;
For further information see: https://www.railml.org/licence&#xD;
&#xD;
Content of this file: XML Schema for railML(R) 3 definition of elements for common sub schema (CO).</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dcterms.xsd"/>
	<xs:include schemaLocation="generic3.xsd"/>
	<xs:include schemaLocation="rtm4railml3.xsd"/>
	<xs:simpleType name="CommonState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="closed">
				<xs:annotation>
					<xs:documentation>The element is no longer available for operation. Usually a planning phase is needed before reopening the element for operation again. Otherwise a closed element could also be dismantled.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="conceptual">
				<xs:annotation>
					<xs:documentation>The construction or commissioning of the element is planned for the medium or long term. However, there are still no concrete (planning) activities for the construction of the element beyond the preliminary planning and cost estimation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="disabled">
				<xs:annotation>
					<xs:documentation>The element is currently not usable, switched off or deactivated and therefore cannot be used regularly. However, it can be put back into operation at short notice without further construction, acceptance or approval activities.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dismantled">
				<xs:annotation>
					<xs:documentation>The element has been dismantled and is no longer available for use. In order to get it back into operation, planning needs to be conducted again.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="operational">
				<xs:annotation>
					<xs:documentation>The element is operational and can be used regularly.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="planned">
				<xs:annotation>
					<xs:documentation>The construction or commissioning of the element is planned concretely and at short notice or concrete planning activities for the construction take place, e.g. design, approval or implementation planning, cost calculation, award of contracts. It is not normally possible to use the element.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="withdrawn">
				<xs:annotation>
					<xs:documentation>Planning for the element was withdrawn without building it. Planning could continue at any time in the future. It is not possible to use the element (in this configuration) for operation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommonStateExt">
		<xs:union memberTypes="rail3:CommonState rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="ElectrificationInterfaceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="overhead"/>
			<xs:enumeration value="thirdRailBottom"/>
			<xs:enumeration value="thirdRailSide"/>
			<xs:enumeration value="thirdRailTop"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectrificationInterfaceTypeExt">
		<xs:union memberTypes="rail3:ElectrificationInterfaceType rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="tSpeedProfileInfluence">
		<xs:restriction base="xs:string">
			<xs:enumeration value="decreasing"/>
			<xs:enumeration value="increasing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTrainType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="all">
				<xs:annotation>
					<xs:documentation>use value 'all' to specify that the speed profile is valid for all types of train</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="freight">
				<xs:annotation>
					<xs:documentation>used to specify that the speed profile is valid for freight trains</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mixed">
				<xs:annotation>
					<xs:documentation>a mixed train includes passenger and freight waggons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="passenger">
				<xs:annotation>
					<xs:documentation>used to specify that the speed profile is valid for passenger trains</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTrainTypeExt">
		<xs:union memberTypes="rail3:tTrainType rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:complexType name="Alternative">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CoeffValue">
		<xs:annotation>
			<xs:documentation>The particular constants used as coefficient with the related exponent on the x-variable.</xs:documentation>
		</xs:annotation>
		
		<xs:attribute name="coefficientValue" use="required" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>The value of the coefficient to be used in relation to the segment start value in this interval and the related exponentValue in the &lt;polynomialHeader&gt; of the &lt;segmentTable&gt;.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ColumnHeader">
		<xs:annotation>
			<xs:documentation>Each element takes the header parameter (z-value) for this column in the value table.</xs:documentation>
		</xs:annotation>
		
		<xs:attribute name="zValue" use="optional" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>The value of the z-coordinate for the related column in the &lt;valueTable&gt;.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Common">
		<xs:annotation>
			<xs:documentation>This is the top level element for the common model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithID">
				<xs:sequence>
					<xs:element name="electrificationSystems" type="rail3:ElectrificationSystems" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>container element for all electrificationSystem elements</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationalUnits" type="rail3:OrganizationalUnits" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>container element for all organizationalUnit elements</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="speedProfiles" type="rail3:SpeedProfiles" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>container element for all speedProfile elements</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positioning" type="rail3:PositioningSystems" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Container for specifying positioning systems to used throughout the enclosing document using references.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timePeriods" type="rail3:TimePeriods" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>container element for all timePeriod elements</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projects" type="rail3:Projects" minOccurs="0" maxOccurs="1"/>
					<xs:element name="states" type="rail3:States" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>container element for state descriptions</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Concessionaire">
		
	</xs:complexType>
	<xs:complexType name="Contractor">
		
	</xs:complexType>
	<xs:complexType name="Curve">
		<xs:annotation>
			<xs:documentation>The description of an arbitrary x-y-curve in the form of a valueTable or a segmentTable.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="valueTable" type="rail3:ValueTable" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The representation of an x-y-curve as a list of datasets per x-value. A third dimension z is possible.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="segmentTable" type="rail3:SegmentTable" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The representation of an x-y-curve as a list of segments described by polynomial coefficients</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Customer">
		
	</xs:complexType>
	<xs:complexType name="DoneBy">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				
				<xs:attribute name="date" use="optional" type="xs:date">
					<xs:annotation>
						<xs:documentation>The date of a revision</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElectrificationSystem">
		<xs:annotation>
			<xs:documentation>electric power for the propulsion of rail transport [wikipedia].</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithID">
				<xs:sequence>
					<xs:element name="designator" type="rail3:Designator" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>external identifier of the entity</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="electrificationInterfaceType" use="optional" type="rail3:ElectrificationInterfaceTypeExt">
					<xs:annotation>
						<xs:documentation>Specifies the type of interface between the infrastructure and the rollingstock</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="frequency" use="optional" type="rail3:tFrequencyHertz">
					<xs:annotation>
						<xs:documentation>electrification system frequency, in [Hz]; for DC the frequency shall be set to zero</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="voltage" use="optional" type="rail3:tVoltageVolt">
					<xs:annotation>
						<xs:documentation>electrification system voltage, in [V]</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElectrificationSystems">
		<xs:sequence>
			<xs:element name="electrificationSystem" type="rail3:ElectrificationSystem" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to define the electrification systems used in the railML document. An electrification system provides electric power for the propulsion of rail transport [wikipedia].</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeometricPositioningSystems">
		<xs:sequence>
			<xs:element name="geometricPositioningSystem" type="rail3:RTM_GeometricPositioningSystem" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>a geometric positioning system allows positioning entities geographically. One typical geometric positioning system is WGS84. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Holiday">
		<xs:sequence>
			<xs:element name="name" type="rail3:Name" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="holidayDate" use="required" type="xs:date">
			<xs:annotation>
				<xs:documentation>The date of the holiday. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Holidays">
		<xs:sequence>
			<xs:element name="holiday" type="rail3:Holiday" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes a single holiday along with a name. &#xD;
Using the attribute publicHoldayMode (available at the operatingDayValidity, the weekdayPeriod as well as the weekPattern) it can be described if trains run on this holiday or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfrastructureManager">
		
	</xs:complexType>
	<xs:complexType name="LinearPositioningSystems">
		<xs:sequence>
			<xs:element name="linearPositioningSystem" type="rail3:RTM_LinearPositioningSystem" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Linear positioning systems work in one dimension. They are a typical way to specifiy the location of an entity on a railway. The one given coordinate for an entity in a linear positioning system positions the entity following the layout of the track.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Metadata">
		<xs:annotation>
			<xs:documentation>This is the top level element for file metadata information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcterms:elementOrRefinementContainer">
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectsRevised">
		<xs:sequence>
			<xs:element name="objectRevised" type="rail3:tElementWithIDref" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to an object that was changed in this revision.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationalUndertaking">
		
	</xs:complexType>
	<xs:complexType name="OrganizationalUnit">
		<xs:annotation>
			<xs:documentation>organizations or companies (like infrastructure managers, railway undertakings, vehicle keepers, freight forwarders, ...) taking part in the railway business or operation. Each element may be used several times for several entries, as e.g. a network may be divided into areas with different infrastructure managers, and as within the network there will usually move vehicles from different producers.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				<xs:sequence>
					<xs:element name="designator" type="rail3:Designator" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>external identifier of the entity</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isValid" type="rail3:CalendarTimePeriod" minOccurs="0" maxOccurs="1"/>
					<xs:element name="isInfrastructureManager" type="rail3:InfrastructureManager" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The infrastructure manager owns and operates the railway network and related infrastructure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isVehicleManufacturer" type="rail3:VehicleManufacturer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The vehicle manufacturer produces the railway vehicles.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isVehicleOperator" type="rail3:VehicleOperator" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Some kind of subcontractor (railway undertaking) that operates the vehicle, if different from the one that is responsible for the commercial service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isCustomer" type="rail3:Customer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The authority or enterprise that ordered the transportation service</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isRailwayUndertaking" type="rail3:RailwayUndertaking" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The undertaking that is commercially responsible for the service</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isOperationalUndertaking" type="rail3:OperationalUndertaking" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unit that is responsible for the operational planning of this service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isConcessionaire" type="rail3:Concessionaire" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The concessionaire holds the concession for the railway operation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isContractor" type="rail3:Contractor" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Any unit or undertaking that has a binding not defined in a neighbouring element.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isVehicleOwner" type="rail3:VehicleOwner" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The owner of the railway vehicles.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isVehicleKeeper" type="rail3:VehicleKeeper" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The vehicle keeper is responsible for any legal issues related to the vehicle on behalf of the vehicle owner.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="code" use="optional" type="xs:string">
					<xs:annotation>
						<xs:documentation>insert here the matching code from the relevant codelist</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationalUnits">
		<xs:annotation>
			<xs:documentation>This is the top level element for various company definitions regarding the railway services referred to in this file</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organizationalUnit" type="rail3:OrganizationalUnit" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specify the type of organizational unit using its child elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phase">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				
				<xs:attribute name="endDate" use="optional" type="xs:date">
					<xs:annotation>
						<xs:documentation>The end date for this phase.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="startDate" use="optional" type="xs:date">
					<xs:annotation>
						<xs:documentation>The start date for this phase.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolynomialHeader">
		<xs:annotation>
			<xs:documentation>The list of exponents used for calculating the polynomial.</xs:documentation>
		</xs:annotation>
		
		<xs:attribute name="exponentValue" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The value of the exponents for the related column in the &lt;segmentTable&gt; used for calculating the polynomial.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PositioningSystems">
		<xs:annotation>
			<xs:documentation>This is the top level element for railML3 positioning and coordinate systems model.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="geometricPositioningSystems" type="rail3:GeometricPositioningSystems" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>container element for all geometric positioning systems</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linearPositioningSystems" type="rail3:LinearPositioningSystems" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>container element for all linear positioning systems</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="screenPositioningSystems" type="rail3:ScreenPositioningSystems" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>container element for all screen coordinate systems</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Project">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				<xs:sequence>
					<xs:element name="designator" type="rail3:Designator" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>External identifier of the project.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectArea" type="rail3:tElementWithIDref" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to a project area.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="alternative" type="rail3:Alternative" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>If a project has multiple alternative solutions, this elements is used to specify which alternative is presented in this railML file.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phase" type="rail3:Phase" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Describes which phase of the project this file represents.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="revision" type="rail3:Revision" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Describes changes from a previous revision and the authors and auditors of these changes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Projects">
		<xs:sequence>
			<xs:element name="project" type="rail3:Project" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes one or more projects this railML model belongs to.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailwayUndertaking">
		
	</xs:complexType>
	<xs:complexType name="Revision">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				<xs:sequence>
					<xs:element name="approvedBy" type="rail3:DoneBy" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The person(s) who approved this revision</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="revisedBy" type="rail3:DoneBy" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The author(s) of this revision</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkedBy" type="rail3:DoneBy" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The peer-reviewer(s) of this revision</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objectsRevised" type="rail3:ObjectsRevised" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Container for references to objects changed in this revision.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="initialProjectRef" use="optional" type="rail3:tGenericRef">
					<xs:annotation>
						<xs:documentation>Reference to a project element describing the previous revision. This may be the same project with another alternative or revision, or another project that was the base for this one.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ScreenPositioningSystem">
		<xs:annotation>
			<xs:documentation>reference system that allows to locate a resource on a screen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail3:RTM_PositioningSystem">
				
				<xs:attribute name="pxX" use="required" type="rail3:positiveLong">
					<xs:annotation>
						<xs:documentation>pixel X, max value of x axis of a screen.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="pxY" use="required" type="rail3:positiveLong">
					<xs:annotation>
						<xs:documentation>pixel Y, max value of y axis of a screen.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="pxZ" use="optional" type="rail3:positiveLong">
					<xs:annotation>
						<xs:documentation>pixel Z, max value of z axis of a screen.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ScreenPositioningSystems">
		<xs:sequence>
			<xs:element name="screenPositioningSystem" type="rail3:ScreenPositioningSystem" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>a screen positioning system allows positioning entities or representations of them on a screen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentStartLine">
		<xs:annotation>
			<xs:documentation>The line containing the values for segment start and related coefficients.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="constantValue" type="rail3:CoeffValue" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The particular constants used as coefficient with the related exponent on the x-variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="segmentStartValue" use="required" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>This is the lower limit of the x-coordinate for this interval described in this line in the segmentTable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zParameterValue" use="optional" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>THis is the value of the z-parameter applicable for this line of segment definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SegmentTable">
		<xs:annotation>
			<xs:documentation>The representation of an x-y-curve as a list of segments described by polynomial coefficients</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="polynomialHeader" type="rail3:PolynomialHeader" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The list of exponents used for calculating the polynomial.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="segmentStartLine" type="rail3:SegmentStartLine" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The line containing the values for segment start and related coefficients.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="functionValueName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>This is the descriptive name for the y-coordinate resulting from the &lt;segmentTable&gt;.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="functionValueUnit" use="required" type="rail3:tUnitNameListExt">
			<xs:annotation>
				<xs:documentation>This is the unit used for the values of the y-coordinate resulting from the &lt;segmentTable&gt;. For scalars the value '1' shall be given.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="segmentStartValueName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>This is the descriptive name for the x-coordinate in the &lt;segmentTable&gt;.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="segmentStartValueUnit" use="required" type="rail3:tUnitNameListExt">
			<xs:annotation>
				<xs:documentation>This is the unit used for the values of the x-coordinate in the &lt;segmentTable&gt;. For scalars the value '1' shall be given.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zParameterName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>This is the descriptive name of any parameter used in z-axis.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zParameterUnit" use="optional" type="rail3:tUnitNameListExt">
			<xs:annotation>
				<xs:documentation>This is the unit used for the values of the z-parameter in the &lt;segmentTable&gt;. For scalars the value '1' shall be given.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpeedProfile">
		<xs:annotation>
			<xs:documentation>the speed that the train should be at time t [Zhu, Xiaomin, et al. "Automatic train operation speed profile optimization and tracking with multi-objective in urban railway." Periodica Polytechnica Transportation Engineering 48.1 (2020): 57-64.]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithIDandName">
				<xs:sequence>
					<xs:element name="tilting" type="rail3:TiltingSpecification" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>collects requirements regarding the tilting capabilities of the vehicles belonging to the enclosing speed profile</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="load" type="rail3:LoadSpecification" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Collects requirements regarding the load of a vehicle belonging to the enclosing speed profile</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="braking" type="rail3:SpeedProfileBraking" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Collects requirement regarding the braking settings and capabilities of vehicles belonging to the enclosing speed profile.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="trainType" type="rail3:SpeedProfileTrainType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>a speedProfile can be linked with several train types</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="isBasicSpeedProfile" use="optional" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>boolean flag to identify basic speed profiles;&#xD;
if NO, then further information need to be defined, e.g. trainType, braking or maxCantDeficiency</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="mVersion" use="optional" type="xs:unsignedLong">
					<xs:annotation>
						<xs:documentation>corresponds to ETCS variable M_VERSION</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="rail3:aSpeedProfile"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpeedProfileBraking">
		<xs:annotation>
			<xs:documentation>train subsystem achieving safe and effective brake actions to allow speed reductions [Cruceanu, Catalin, and X. Perpinya. "Train braking." Relaibility and safety in railway, Intech (2012): 29-74.].</xs:documentation>
		</xs:annotation>
		
		<xs:attribute name="airBrakeApplicationPosition" use="optional" type="rail3:tAirBrakeApplicationDirection">
			<xs:annotation>
				<xs:documentation>base brake switch: one of G, P or R</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="brakeType" use="optional" type="rail3:tBrakeTypeExt">
			<xs:annotation>
				<xs:documentation>vacuum or compressed air brake, hand brake, parking brake, cable brake</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minBrakePercentage" use="optional" type="rail3:tBrakePercentage">
			<xs:annotation>
				<xs:documentation>minimum brake percentage of the train</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpeedProfileEtcs">
		<xs:annotation>
			<xs:documentation>An “International Train Category” according to ETCS Baseline 2</xs:documentation>
		</xs:annotation>
		
		<xs:attribute name="etcsTrainCategoryNumber" use="required" type="rail3:tEtcsTrainCategoryNumber">
			<xs:annotation>
				<xs:documentation>this information shall be derived from trainType, airBrakeApplicationPosition and maxCantDeficiency. Shall not be used as leading information, but rather as derived additional description.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpeedProfiles">
		<xs:sequence>
			<xs:element name="speedProfile" type="rail3:SpeedProfile" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A speed profile collects the requirements on a vehicle to belong to a certain class that is permitted to run at a certain speed safely on a line.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpeedProfileTrainType">
		<xs:sequence>
			<xs:element name="etcsSpeedProfile" type="rail3:SpeedProfileEtcs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="type" use="optional" type="rail3:tTrainTypeExt">
			<xs:annotation>
				<xs:documentation>the operational type of train, e.g. passenger or freight</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="State">
		<xs:sequence>
			<xs:element name="name" type="rail3:Name" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allows specifying a name and description for the state in different languages if necessary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity" type="rail3:Period" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Using this element the temporal validity of the state is specified.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="rail3:tID">
			<xs:annotation>
				<xs:documentation>the identifier of the object</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="rail3:CommonStateExt">
			<xs:annotation>
				<xs:documentation>Used to specify the state value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateBase">
		<xs:sequence>
			<xs:element name="name" type="rail3:Name" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allows specifying a name and description for the state in different languages if necessary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity" type="rail3:Period" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Using this element the temporal validity of the state is specified.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="rail3:CommonStateExt">
			<xs:annotation>
				<xs:documentation>Used to specify the state value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="States">
		<xs:sequence>
			<xs:element name="state" type="rail3:State" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Use to specify states that apply for the whole document. States defined here must not overlap each other in time. If certain elements do not follow the global states defined here, these exceptions need to be specified at the level of the element with the diverging state (e.g. levelCrossingIS)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubSchemaElementState">
		<xs:complexContent>
			<xs:extension base="rail3:StateBase">
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimePeriod">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithID">
				<xs:sequence>
					<xs:element name="holidays" type="rail3:Holidays" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>container for specification of holidays that apply for the enclosing time period</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="from" use="required" type="xs:date">
					<xs:annotation>
						<xs:documentation>specifies the start date of the time period</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="to" use="required" type="xs:date">
					<xs:annotation>
						<xs:documentation>specifies the end date of the time period</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimePeriods">
		<xs:sequence>
			<xs:element name="timePeriod" type="rail3:TimePeriod" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Using a timeperiod it is possible to specify for which amount of time the schedule and infrastructure data enclosed in the railML is valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Value">
		<xs:annotation>
			<xs:documentation>the y-value related to an x-value and optional z-value</xs:documentation>
		</xs:annotation>
		
		<xs:attribute name="yValue" use="required" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>value of ordinate (y-axis) for this line (row)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ValueLine">
		<xs:annotation>
			<xs:documentation>The dataset of values for an x-value</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="rail3:Value" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>the y-values related to an x-value themselves</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="xValue" use="required" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>values of abscissa (x-axis) for this line (row)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ValueTable">
		<xs:annotation>
			<xs:documentation>The representation of an x-y-curve as a list of datasets per x-value. A third dimension z is possible.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="columnHeader" type="rail3:ColumnHeader" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of values used as parameter to support meaning of values</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valueLine" type="rail3:ValueLine" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The dataset of values for an x-value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="xValueName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>descriptive name for values of abscissa (x-axis)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xValueUnit" use="required" type="rail3:tUnitNameListExt">
			<xs:annotation>
				<xs:documentation>physical unit for values of abscissa (x-axis)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yValueName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>descriptive name for values of ordinate (y-axis)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yValueUnit" use="required" type="rail3:tUnitNameListExt">
			<xs:annotation>
				<xs:documentation>physical unit for values of ordinate (y-axis)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zValueName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>descriptive name of z-value used as parameter in the value table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zValueUnit" use="optional" type="rail3:tUnitNameListExt">
			<xs:annotation>
				<xs:documentation>physical unit for z-value used as parameter in the value table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VehicleKeeper">
		
	</xs:complexType>
	<xs:complexType name="VehicleManufacturer">
		
	</xs:complexType>
	<xs:complexType name="VehicleOperator">
		
	</xs:complexType>
	<xs:complexType name="VehicleOwner">
		
	</xs:complexType>
	<xs:attributeGroup name="aSpeedProfile">
		<xs:attribute name="influence" use="optional" type="rail3:tSpeedProfileInfluence">
			<xs:annotation>
				<xs:documentation>a rule that describes how to choose speed value if speedSections are not disjoint, e.g. meet, overlap, inside etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxCantDeficiency" use="optional" type="rail3:tCantDeficiency">
			<xs:annotation>
				<xs:documentation>the maximum cant deficiency provided in mm (80..300)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>